/* -----------------------------------------
	11. External Plugins
----------------------------------------- */

/* Jetpack Sharing */
.sharedaddy {
	margin-top: 30px;
}

/* Jetpack subscriptions */
.comment-subscription-form {
	margin: 15px 0 0;

	label {
		margin-left: 5px;
	}
}