@charset "UTF-8";

/* -----------------------------------------
Editor general styling
----------------------------------------- */

@keyframes rot {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

:root {
  font-family: Roboto, sans-serif;
  color: #585858;
}

:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
  line-height: normal;
  margin: 0 0 30px;
  text-rendering: optimizeLegibility;
  color: #242424;
}

:root h1 {
  font-size: 36px;
}

:root h2 {
  font-size: 32px;
}

:root h3 {
  font-size: 28px;
}

:root h4 {
  font-size: 24px;
}

:root h5 {
  font-size: 20px;
}

:root h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.wp-block {
  max-width: 850px;
}

/* -----------------------------------------
Gutenberg Blocks
----------------------------------------- */

/* Paragraph Block
=================================== */

.has-drop-cap:not(:focus)::first-letter {
  padding: 0 .2rem .2rem 0;
  font-size: 4rem;
  line-height: .65;
}

/* Quote Block
========================================= */

.wp-block-quote:not(.is-style-plain) {
  border-radius: 3px;
  padding: 30px 30px 30px 85px;
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  border: 0;
  background-color: #f7f7f7;
}

.wp-block-quote:not(.is-style-plain)::before {
  content: "\201C";
  font-family: Georgia, sans-serif;
  color: #019afe;
  position: absolute;
  font-size: 96px;
  line-height: 1;
  left: 30px;
  top: 25px;
}

.wp-block-quote:not(.is-style-plain) cite {
  font-size: 14px;
  display: block;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0 0;
  font-size: 14px;
}

.wp-block-quote.is-style-large {
  padding: 1em 1em 1em 4em;
}

.wp-block-quote.is-style-large cite {
  font-size: 1.125em;
  text-align: right;
}

/* Pull Quote Block
=================================== */

.wp-block-pullquote {
  font-style: normal;
  padding: 30px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.wp-block-pullquote.has-text-align-left,
.wp-block-pullquote.has-text-align-right {
  max-width: 100%;
}

.wp-block-pullquote blockquote {
  font-style: normal;
  padding: 0;
  border: 0;
  background: none;
}

.wp-block-pullquote blockquote::before {
  display: none;
}

/* Table Block
=================================== */

.wp-block-table table {
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
}

.wp-block-table th,
.wp-block-table td {
  border-width: 0 0 1px 0;
  border-bottom-color: #ebebeb;
}

.wp-block-table th:first-child,
.wp-block-table td:first-child {
  padding-left: 0;
}

.wp-block-table caption,
.wp-block-table th,
.wp-block-table td {
  font-weight: normal;
  padding: 10px;
  vertical-align: middle;
}

.wp-block-table th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
}

/* Button Block
=================================== */

.wp-block-button.is-style-outline .wp-block-button__link {
  border: 2px solid #019afe;
  color: #019afe;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  border: 0;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  transition: .18s background-color ease, .18s color ease, .18s border-color ease;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  width: auto;
  height: auto;
  background-image: none;
  color: #fff;
  background-color: #019afe;
  border: 2px solid #019afe;
  border-radius: 3px;
  padding: 12px 40px;
  font-size: 14px;
  white-space: normal;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link.disabled,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1aa4fe;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(1, 154, 254, 0.7);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link .fas {
  margin-right: 5px;
}

/* Social Links
=================================== */

.wp-block-social-links.is-style-blockchain-lite-socials {
  gap: 0.2em;
}

.wp-block-social-links.is-style-blockchain-lite-socials .wp-block-social-link {
  border-radius: 10%;
}

/* -----------------------------------------
GutenBee Styles
----------------------------------------- */

/* Post Types Block
=================================== */

div[data-type="gutenbee/post-types"] .gutenbee-row .gutenbee-post-types-item-meta {
  font-size: 13px;
}

div[data-type="gutenbee/post-types"] .gutenbee-post-types-item-excerpt {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1.466666667;
}

div[data-type="gutenbee/post-types"] .gutenbee-row-columns-1 .gutenbee-post-types-item-thumb {
  margin-right: 30px;
  width: 300px;
  flex: none;
}

div[data-type="gutenbee/post-types"] .gutenbee-post-types-item-media {
  align-items: stretch;
}

.gutenbee-post-types-item-more {
  font-size: 15px;
  display: inline-block;
  color: #31356b;
  font-weight: 700;
}

.gutenbee-post-types-item-more::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
  color: #019afe;
  font-size: 1.1em;
  position: relative;
  top: 1px;
}

/* Button Block
=================================== */

.wp-block-gutenbee-button div {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  border: 0;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  transition: .18s background-color ease, .18s color ease, .18s border-color ease;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  width: auto;
  height: auto;
  background-image: none;
  color: #fff;
  background-color: #019afe;
  border: 2px solid #019afe;
  border-radius: 3px;
  padding: 12px 40px;
  font-size: 14px;
}

.wp-block-gutenbee-button div.disabled,
.wp-block-gutenbee-button div:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.wp-block-gutenbee-button div:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1aa4fe;
}

.wp-block-gutenbee-button div:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(1, 154, 254, 0.7);
}

.wp-block-gutenbee-button div .fas {
  margin-right: 5px;
}

.wp-block-gutenbee-buttons .block-editor-block-list__layout {
  column-gap: 10px;
}

/* Testimonial Block
=================================== */

.wp-block-gutenbee-testimonial {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
}

.wp-block-gutenbee-testimonial::before,
.wp-block-gutenbee-testimonial::after {
  display: none;
}

/* Accordion Block
=================================== */

.wp-block-gutenbee-accordion-item-title {
  background-color: transparent;
}

/* -----------------------------------------
WooCommerce Block Styles
----------------------------------------- */

/* Product Grid
========================================= */

.wc-block-grid .wc-block-grid__products {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.has-4-columns .wc-block-grid__products .wc-block-grid__product {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.has-3-columns .wc-block-grid__products .wc-block-grid__product {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

.has-2-columns .wc-block-grid__products .wc-block-grid__product {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Star Ratings
========================================= */

.wc-block-review-list-item__rating__stars,
.wc-block-components-product-rating__stars,
.star-rating {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 12px !important;
  width: 68px !important;
  line-height: 12px !important;
  font-size: 12px !important;
  color: #ffa500;
}

.wc-block-review-list-item__rating__stars::after,
.wc-block-components-product-rating__stars::after,
.star-rating::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.wc-block-review-list-item__rating__stars::before,
.wc-block-components-product-rating__stars::before,
.star-rating::before {
  display: none;
}

.wc-block-review-list-item__rating__stars span,
.wc-block-components-product-rating__stars span,
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.wc-block-review-list-item__rating__stars span::after,
.wc-block-components-product-rating__stars span::after,
.star-rating span::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f005\f005\f005\f005\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 0;
  position: absolute;
  left: 0;
}

.wc-block-review-list-item__rating__stars span::before,
.wc-block-components-product-rating__stars span::before,
.star-rating span::before {
  display: none;
}

/* Product block
========================================= */

.wc-block-grid__products {
  margin-bottom: 0;
}

.wc-block-grid__products .wc-block-grid__product-title {
  margin: 10px 0 5px;
  font-size: 18px;
  margin: 20px 0 10px;
  color: #31356b;
}

.wc-block-grid__products .wc-block-grid__product-price {
  font-size: 15px;
  display: block;
  margin: 5px 0 20px;
  line-height: 13px;
  color: #585858;
  font-weight: 400;
}

.wc-block-grid__products .wc-block-grid__product-onsale {
  z-index: 20;
  position: absolute;
  padding: 5px 15px;
  top: 10px;
  left: 25px;
  right: auto;
  background-color: #019afe;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  border: none;
  border-radius: 0;
  font-weight: 400;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
  right: auto;
  top: 10px;
  left: 10px;
}

.wc-block-grid__products .wc-block-grid__product-rating {
  margin: -5px auto 15px;
}

.wc-block-grid__products > .wc-block-grid__product {
  margin-bottom: 25px;
  text-align: left;
  border: 0;
}

.wc-block-pagination {
  padding: 40px 0 0;
  margin: 50px 0 0;
  border-top: 1px solid #ebebeb;
}

.wc-block-pagination button {
  border-radius: 0;
  padding: 0;
  min-width: none;
  color: #31356b;
}

.wc-block-pagination a,
.wc-block-pagination span {
  display: inline-block;
  padding: 4px 14px;
  font-size: 15px;
  margin: 0 2px 3px;
  border: 2px solid transparent;
  background: none;
}

.wc-block-pagination .wc-block-pagination-page--active {
  border-color: #31356b;
}

/* Reviews
========================================= */

.wc-block-review-list {
  padding-left: 0;
}

.wc-block-review-list .wc-block-review-list-item__item {
  margin-bottom: 25px;
}

.wc-block-review-list .wc-block-review-list-item__info {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__image img {
  border-radius: 3px;
  border: 1px solid #ebebeb;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta {
  flex-grow: 1;
  align-items: start;
  flex-flow: column;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author,
.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__product {
  line-height: normal;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author a,
.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__product a {
  color: #585858;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__product + .wc-block-review-list-item__author {
  font-size: 12px;
  order: 3;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__rating {
  display: block;
  margin: 10px 0 5px;
  line-height: 1em;
}

.wc-block-review-list .wc-block-review-list-item__info .wc-block-review-list-item__meta .wc-block-review-list-item__author + .wc-block-review-list-item__published-date::before {
  display: none;
}

/* BLOCK: Product Categories
========================================= */

.wc-block-product-categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.wc-block-product-categories-list ul {
  margin-left: 15px;
}

.wc-block-product-categories-list li {
  line-height: normal;
  display: block;
  position: relative;
}

.wc-block-product-categories-list li a {
  display: block;
  color: #585858;
  padding: 11px 30px 11px 0;
  border-bottom: 1px solid #ebebeb;
}

.wc-block-product-categories-list li .wc-block-product-categories-list-item-count {
  position: absolute;
  right: 0;
  top: 11px;
}

.wc-block-product-categories.is-dropdown {
  display: flex;
}

.wc-block-product-categories.is-dropdown .wc-block-product-categories__dropdown {
  flex: auto;
}

.wc-block-product-categories.is-dropdown select {
  width: 100%;
}

.wc-block-product-categories.is-dropdown .wc-block-product-categories__button {
  border: 1px solid #ebebeb;
  border-left: 0;
  border-radius: 0;
  padding: 6px;
}

/* BLOCK: Filter by Price
========================================= */

.wc-block-components-price-slider {
  margin-bottom: 0;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-text {
  font-size: 0.875rem;
}

.wc-block-price-filter .wc-block-price-filter__controls .wc-block-price-filter__amount {
  border-radius: 0;
  height: auto;
  padding: 7px 14px;
  text-align: center;
  margin-top: 10px;
}

/* BLOCK: Attribute Filters
========================================= */

.wc-block-attribute-filter .wc-block-attribute-filter-list {
  margin-bottom: 15px;
}

.wc-block-attribute-filter .wc-block-attribute-filter-list label {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}

/* BLOCK: Active Filters
========================================= */

.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  line-height: normal;
  border: 0;
  box-shadow: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  transition: .18s background-color ease, .18s color ease, .18s border-color ease;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  width: auto;
  height: auto;
  background-image: none;
  color: #fff;
  background-color: #019afe;
  border: 2px solid #019afe;
  border-radius: 3px;
  padding: 10px 28px 9px;
  font-size: 12px;
  font-size: .875em;
  border-radius: 3px;
  margin-right: 5px;
}

.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip.disabled,
.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1aa4fe;
}

.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(1, 154, 254, 0.7);
}

.wc-block-active-filters .wc-block-active-filters__list .wc-block-components-chip .fas {
  margin-right: 5px;
}

@media (min-width: 576px) {
  .wc-block-grid .wc-block-grid__products {
    margin-right: -15px;
    margin-left: -15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .has-2-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-2-columns .wc-block-grid__products .wc-block-grid__product {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .wc-block-grid .wc-block-grid__products {
    margin-right: -15px;
    margin-left: -15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-2-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .wc-block-grid .wc-block-grid__products {
    margin-right: -15px;
    margin-left: -15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .has-2-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .wc-block-grid .wc-block-grid__products {
    margin-right: -15px;
    margin-left: -15px;
  }

  .has-4-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-3-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }

  .has-2-columns .wc-block-grid__products .wc-block-grid__product {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .gutenbee-food-menu-columns-mobile-1 [data-type="gutenbee/food-menu"],
  .gutenbee-food-menu-columns-tablet-1 [data-type="gutenbee/food-menu"] {
    grid-template-columns: auto;
  }
}

@media (max-width: 767px) {
  div[data-type="gutenbee/post-types"] .gutenbee-row .gutenbee-post-types-item-media {
    flex-wrap: wrap;
  }

  div[data-type="gutenbee/post-types"] .gutenbee-row .gutenbee-post-types-item-media .gutenbee-post-types-item-thumb {
    margin-right: 0;
    width: 100%;
  }
}